################################
#### Todo lo que ignora GIT ####
################################


#ficheros generados de forma automatica
/build/

#carpeta media con videos
/WebContent/media/

#configuracion Eclipse
/.settings/
/.classpath
/.project